<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>topbar</title>
</head>
<body>

<!--头部信息-->
<header id="topbarheader">
  <div class="header">
    <div class="top">
      <div class="top1">
        <a class="info"><img th:src="@{/goods/images/pic.jpg}"><span th:text="${session.loginUser.username}">
								<span class="caret"></span>
						</span></a>

        <a th:href="@{/logout(logout='userLogout')}">退出登录</a>
        <a target="_blank" th:href="@{/admin/toOrder.html}"><img th:src="@{/goods/images/index_img/top1.jpg}">我的订单</a>
      </div>
    </div>
    <div class="logobg">
    </div>
    <!-----主导航部分------->
    <div class="bottom">
      <div class="nav">
        <a th:href="@{/admin/index.html}" th:class="${active == 'main.html'?'now':''}">首页</a>
        <a th:href="@{/admin/toOrdinaryGoods.html}" th:class="${active == 'ordinaryGoods.html'?'now':''}">普通商品</a>
        <a th:href="@{/admin/toSeckillGoods.html}" th:class="${active == 'seckillGoods.html'?'now':''}">秒杀商品</a>
      </div>
    </div>
  </div>

  <!-- 修改用户的模态框 -->
  <div class="modal fade" id="userUpdateModal" tabindex="-1"
       role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">个人信息</h4>
        </div>
        <div class="modal-body">
          <!--要提交的表单 -->
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">用户名：</label>
              <div class="col-sm-6">
                <p class="form-control-static"
                   id="username_update_input">
                </p>
                <span class="help-block"></span>
              </div>
              <div class="col-sm-1">
                <em style="color: red">*</em>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">真实姓名：</label>
              <div class="col-sm-6">
                <input type="text" class="form-control"
                       id="realname_update_input" name="realName"
                       placeholder="该用户还未填写真实姓名：">
                <span class="help-block"></span>
              </div>
              <div class="col-sm-1">
              <em style="color: red">*</em>
            </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">密码：</label>
              <div class="col-sm-6">
                <input type="text" class="form-control"
                       id="password_update_input" name="password">
                <span class="help-block"></span>
              </div>
              <div class="col-sm-1">
                <em style="color: red">*</em>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">手机号：</label>
              <div class="col-sm-6">
                <input type="text" class="form-control"
                       id="telephone_update_input" name="telephone"
                       placeholder="该用户还未填写手机号：">
                <span class="help-block"></span>
              </div>
              <div class="col-sm-1">
                <em style="color: red">*</em>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">身份证号：</label>
              <div class="col-sm-6">
                <input type="text" class="form-control"
                       id="idNumber_update_input" name="idNumber"
                       placeholder="该用户还未填写身份证号：">
                <span class="help-block"></span>
              </div>
              <div class="col-sm-1">
                <em style="color: red">*</em>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
                  data-dismiss="modal">关闭
          </button>
          <button type="button" class="btn btn-primary"
                  id="user_update_btn">更新
          </button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">

    $(document).on('click', '.info', function() {

      //根据用户id发送ajax请求，查出用户信息并显示
      getUserInfo();

      //把用户的id传递给模态框的更新按钮
      $('#user_update_btn').attr('update-id', $(this).attr('update-id'));
      //弹出模态框
      $('#userUpdateModal').modal({
        backdrop: 'static'
      });
    });

    //根据id查出用户信息并显示
    function getUserInfo() {
      $.ajax({
        url: '/admin/getUserByUsername',
        type: 'GET',
        success: function(result) {
          var user = result.extend.user;

          //显示数据之前先清除一下校验样式，如果有的话
          reset_form('#userUpdateModal form');

          $('#username_update_input').text(user.username);
          $('#realname_update_input').val(user.realName);
          $('#password_update_input').val(user.password);
          $('#telephone_update_input').val(user.telephone);
          $('#idNumber_update_input').val(user.idNumber);
        }
      });
    }

    //点击更新，更新用户信息
    $('#user_update_btn').click(function() {
      //清空表单样式
      clean_form('#userUpdateModal form');

      var realName = $('#realname_update_input').val();
      var password = $('#password_update_input').val();
      var telephone = $('#telephone_update_input').val();
      var idNumber = $('#idNumber_update_input').val();

      //匹配汉字(真实姓名)
      var realnameRegex = /^[\u4e00-\u9fa5]{2,10}$/;
      if (realName.length === 0 ){
        show_validate_msg('#realname_update_input',
            'error', '真实姓名不能为空');
        return false;
      } else if (realnameRegex.test(realName) === false) {
        show_validate_msg('#realname_update_input',
            'error', '真实姓名不合法');
        return false;
      }

      //匹配6-40位由数字、英文字母或者下划线组成的字符串(密码)
      var passwordRegex = /^\w{6,40}$/;
      if (password.length === 0 ){
        show_validate_msg('#password_update_input',
            'error', '输入密码不能为空');
        return false;
      } else if (passwordRegex.test(password) === false) {
        show_validate_msg('#password_update_input',
            'error', '输入密码不合法（密码只能由数字、英文和下划线组成）');
        return false;
      }

      //匹配手机号码
      var phoneRegex = /^1[3,5,8]\d{9}$/;
      if (telephone.length === 0 ){
        show_validate_msg('#telephone_update_input',
            'error', '手机号不能为空');
        return false;
      } else if (phoneRegex.test(telephone) === false) {
        show_validate_msg('#telephone_update_input',
            'error', '手机号不合法');
        return false;
      }
      //匹配身份证号
      var idNumberRegex = /^([1-6][1-9]|50)\d{4}(18|19|20)\d{2}((0[1-9])|10|11|12)(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/;
      if (idNumber.length === 0 ){
        show_validate_msg('#idNumber_add_input',
            'error', '身份证号不能为空');
        return false;
      } else if (idNumberRegex.test(idNumber) === false) {
        show_validate_msg('#idNumber_add_input',
            'error', '身份证号不合法');
        return false;
      }


      //2、发送ajax请求保存更新的员工数据
      $.ajax({
        url: '/admin/updateUserProfile',
        type: 'PUT',
        data: $('#userUpdateModal form').serialize(),
        success: function(result) {
          if (result.code === 100) {
            $('#userUpdateModal').modal('hide');
            $.alert('用户信息修改成功！');
            setTimeout(function() {
              location.href = '/admin/index.html';
            }, 1000);
          } else {
            $.alert('用户信息修改失败！');
          }
        }
      });
    });


    //清空表单样式及内容
    function reset_form(ele) {
      $(ele)[0].reset();
      //清空表单样式
      $(ele).find('*').removeClass('has-error has-success');
      $(ele).find('.help-block').text('');
    }

    //清空表单样式
    function clean_form(ele) {
      //清空表单样式
      $(ele).find('*').removeClass('has-error has-success');
      $(ele).find('.help-block').text('');
    }

    //显示校验结果的提示信息
    function show_validate_msg(ele, status, msg) {
      //清除当前元素的校验状态
      $(ele).parent().removeClass('has-success has-error');
      $(ele).next('span').text('');
      if ('success' === status) {
        $(ele).parent().addClass('has-success');
        $(ele).next('span').text(msg);
      } else if ('error' === status) {
        $(ele).parent().addClass('has-error');
        $(ele).next('span').text(msg);
      }
    }
  </script>

</header>
<!--End 头部信息-->


</body>
</html>