<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>菜鸟商城——普通商品</title>

  <link th:href="@{/goods/style/shopdetail.css}" rel="stylesheet" type="text/css">
  <script th:src="@{/goods/js/jquery-1.9.1.min.js}"></script>
  <script th:src="@{/goods/js/common.js}"></script>
  <!-- 引入bootstrap样式 -->
  <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
  <!--图标库-->
  <link th:href="@{/lyear/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>

  <!--自定义样式-->
  <link href="../lyear/css/style.min.css" th:href="@{/lyear/css/style.min.css}" rel="stylesheet" type="text/css"/>

</head>
<body>

<div th:replace="admin/common/topbar::#topbarheader(active='ordinaryGoods.html')"></div>
<div>
  <div class="panelContainer">
    <div class="panel">
      <div class="com" style="overflow: hidden;width: 20%; float: left" th:each="ordinaryGoods:${ordinaryGoodsList}">

        <a href="#" class="ex01">
          <figure>
            <img th:src="@{${ordinaryGoods.productPic}}" width="210px" height="200px">
            <figcaption th:text="${ordinaryGoods.productName}"></figcaption>
          </figure>
          <p th:text="${ordinaryGoods.description}"></p>
          <p th:text="'库存：' + ${ordinaryGoods.stock}"></p>

          <div class="bottom"><samp th:text="'商城价:￥' + ${ordinaryGoods.productPrices} + '元'"></samp>
            <button class="btn btn-success btn-sm buy_btn" th:width="50px" th:hidden="20px"
                    th:attr="buy-id=${ordinaryGoods.id}"> 购买
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row" style="width: 100%">
    <div class="col-md-5  col-md-offset-1" style="width: 100%">
      <br><br><br>
      <div class="btn-group" style="50%">
        <button class="btn btn-default">
          <span>页次：</span>
        </button>
        <button class="btn btn-default">
          <span th:text="${ordinaryGoodsPageInfo.pageNum}+'/'+${ordinaryGoodsPageInfo.pages}+'页'"></span>
        </button>
        <button class="btn btn-default">
          <span th:text="'每页显示：' + ${ordinaryGoodsPageInfo.pageSize} + '条'"></span>
        </button>
        <button class="btn btn-default">
          <span>总记录数：</span>
        </button>
        <button class="btn btn-default">
          <span th:text="${ordinaryGoodsPageInfo.total}+'条'"></span>
        </button>
      </div>
      <!-- 分页条信息 -->
      <div class="col-md-5" style="width: 45%">
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg pull-right"
              style="margin-top: 0">
            <li>
              <a th:href="@{/admin/toOrdinaryGoods.html(pageNum=1,pageSize=${ordinaryGoodsPageInfo.pageSize})}">首页</a>
            </li>

            <li th:if="${ordinaryGoodsPageInfo.hasPreviousPage }"><a
                th:href="@{/admin/toOrdinaryGoods.html(pageNum=${ordinaryGoodsPageInfo.pageNum}-1,pageSize=${ordinaryGoodsPageInfo.pageSize})}"
                aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
            </a></li>

            <li th:each="page_Num:${ordinaryGoodsPageInfo.navigatepageNums }"
                th:class="${page_Num == ordinaryGoodsPageInfo.pageNum?'active':''}">
              <a th:if="${page_Num == ordinaryGoodsPageInfo.pageNum}"
                 th:text="${page_Num}"
                 th:href="@{#}">
              </a>
              <a th:text="${page_Num}"
                 th:if="${page_Num != ordinaryGoodsPageInfo.pageNum}"
                 th:href="@{/admin/toOrdinaryGoods.html(pageNum=${page_Num},pageSize=${ordinaryGoodsPageInfo.pageSize})}">
              </a>
            </li>

            <li th:if="${ordinaryGoodsPageInfo.hasNextPage }"><a
                th:href="@{/admin/toOrdinaryGoods.html(pageNum=${ordinaryGoodsPageInfo.pageNum}+1,pageSize=${ordinaryGoodsPageInfo.pageSize})}"
                aria-label="Next"> <span aria-hidden="true">&raquo;</span>
            </a></li>

            <li><a
                th:href="@{/admin/toOrdinaryGoods.html(pageNum=${ordinaryGoodsPageInfo.pages},pageSize=${ordinaryGoodsPageInfo.pageSize})}">末页</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>


  <!-- 购买商品订单的模态框 -->
  <div class="modal fade" id="ordinaryGoodsBuyModal" tabindex="-1"
       role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">购买商品订单信息</h4>
        </div>
        <div class="modal-body">
          <!--要提交的表单 -->
          <form class="form-horizontal">

<!--            <div class="form-group">-->
<!--              <label class="col-sm-2 control-label">用户名：</label>-->
<!--              <div class="col-sm-6">-->
<!--                <p class="form-control-static"-->
<!--                   id="username_buy_input" th:text="${session.loginUser.username}">-->
<!--                </p>-->
<!--                <span class="help-block"></span>-->
<!--              </div>-->
<!--            </div>-->

            <div class="form-group">
              <label class="col-sm-2 control-label">收货人：</label>
              <div class="col-sm-6">
                <input type="text" class="form-control"
                       id="username_buy_input" name="username"
                       placeholder="该商品还未填写收货人：" th:value="${session.loginUser.username}"  disabled =“disabled”>
                <span class="help-block"></span>
              </div>
              <div class="col-sm-1">
                <em style="color: red">*</em>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">手机号：</label>
              <div class="col-sm-6">
                <input type="text" class="form-control"
                       id="telephone_buy_input" name="telephone"
                       placeholder="该商品还未填写手机号：">
                <span class="help-block"></span>
              </div>
              <div class="col-sm-1">
                <em style="color: red">*</em>
              </div>
            </div>


            <div class="form-group">
              <label class="col-sm-2 control-label">总金额：</label>
              <div class="col-sm-6">
<!--                <p class="form-control-static"-->
<!--                   id="totalPrice_buy_input">-->
<!--                </p>-->
                <input type="text" class="form-control"
                       id="totalPrice_buy_input" name="totalPrice"
                       placeholder="该商品还未填写手机号：" disabled =“disabled”>
                <span class="help-block"></span>
              </div>
              <div class="col-sm-1">
                <em style="color: red">*</em>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">收货地址：</label>
              <div class="col-sm-6">
                <input type="text" class="form-control"
                       id="deliveryAddress_buy_input" name="deliveryAddress"
                       placeholder="该商品还未填写收货地址：">
                <span class="help-block"></span>
              </div>
              <div class="col-sm-1">
                <em style="color: red">*</em>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
                  data-dismiss="modal">关闭
          </button>
          <button type="button" class="btn btn-primary"
                  id="ordinaryGoods_buy_btn">支付
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- 引入jQuery和bootstrap的js -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<!--弹出框js-->
<script th:src="@{/lyear/jconfirm/jquery-confirm.min.js}"></script>
<!--自定义js脚本-->
<script th:src="@{/lyear/js/main.min.js}"></script>

<script type="text/javascript">

  //点击编辑按钮时触发事件
  $(document).on('click', '.buy_btn', function() {

    //根据商品id发送ajax请求，查出商品信息并显示
    getOrdinaryGoodsInfo($(this).attr('buy-id'));

    //把商品的id传递给模态框的更新按钮
    $('#ordinaryGoods_buy_btn').attr('buy-id', $(this).attr('buy-id'));

  });

  //根据id查出商品信息并显示
  function getOrdinaryGoodsInfo(id) {
    $.ajax({
      url: '/admin/getOrdinaryGoodsById/' + id,
      type: 'GET',
      success: function(result) {
        var ordinaryGoods = result.extend.ordinaryGoods;
        if (ordinaryGoods.stock > 0) {
          //显示数据之前先清除一下校验样式，如果有的话
          $('#ordinaryGoodsBuyModal').modal({
            backdrop: 'static'
          });
          reset_form('#ordinaryGoodsBuyModal form');
          $('#totalPrice_buy_input').val(ordinaryGoods.productPrices);
        } else {
          alert('商品短缺。');
        }
      }
    });
  }

  //点击支付，更新商品信息，生成订单
  $('#ordinaryGoods_buy_btn').click(function() {
    //清空表单样式
    clean_form('#ordinaryGoodsBuyModal form');

    var username = $('#username_buy_input').val();
    var telephone = $('#telephone_buy_input').val();
    var totalPrice = $('#totalPrice_buy_input').val();
    var deliveryAddress = $('#deliveryAddress_buy_input').val();


    if (username.length === 0) {
      show_validate_msg('#username_buy_input',
          'error', '收货人不能为空');
      return false;
    }

    //匹配手机号码
    var phoneRegex = /^1[3,5,7,8,9]\d{9}$/;
    if (telephone.length === 0) {
      show_validate_msg('#telephone_buy_input',
          'error', '手机号为空');
      return false;
    } else if (phoneRegex.test(telephone) === false) {
      show_validate_msg('#telephone_buy_input',
          'error', '手机号不合法');
      return false;
    }

    //匹配收获地址
    if (deliveryAddress.length === 0) {
      show_validate_msg('#deliveryAddress_buy_input',
          'error', '收获地址为空');
      return false;
    }

    //2、发送ajax请求商品数量减一，订单生成
    $.ajax({
      url: '/admin/buyOrdinaryGoodsProfile/' + $(this).attr('buy-id'),
      // url: '/admin/buyOrdinaryGoodsProfile',
      type: 'POST',
      data: $('#ordinaryGoodsBuyModal form').serialize(),
      success: function(result) {
        if (result.code === 100) {
          $('#ordinaryGoodsBuyModal').modal('hide');
          $.alert('商品订单增加成功！');
          setTimeout(function() {
            var pageNum = [[${ordinaryGoodsPageInfo.pageNum}]];
            var pageSize = [[${ordinaryGoodsPageInfo.pageSize}]];
            location.href = '/admin/toOrdinaryGoods.html?pageNum=' + pageNum + '&pageSize=' + pageSize;
          }, 1000);
        } else {
          $.alert('商品信息修改失败！');
        }
      }
    });


  });


  //清空表单样式及内容
  function reset_form(ele) {
    $(ele)[0].reset();
    //清空表单样式
    $(ele).find('*').removeClass('has-error has-success');
    $(ele).find('.help-block').text('');
  }

  //清空表单样式
  function clean_form(ele) {
    //清空表单样式
    $(ele).find('*').removeClass('has-error has-success');
    $(ele).find('.help-block').text('');
  }

  //显示校验结果的提示信息
  function show_validate_msg(ele, status, msg) {
    //清除当前元素的校验状态
    $(ele).parent().removeClass('has-success has-error');
    $(ele).next('span').text('');
    if ('success' === status) {
      $(ele).parent().addClass('has-success');
      $(ele).next('span').text(msg);
    } else if ('error' === status) {
      $(ele).parent().addClass('has-error');
      $(ele).next('span').text(msg);
    }
  }
</script>


</body>
</html>